<!-- Modal for adding/editing items -->
<div id="modal" class="modal">
  <div class="modal-content">
    <button class="modal-close-btn" onclick="closeModal()" aria-label="Close modal">
      <i class="fas fa-times"></i>
    </button>
    <h3 id="modalTitle">Modal Title</h3>
    <div id="modalBody">
      <!-- Dynamic content goes here -->
    </div>
  </div>
</div>
